body{background-color: #ffffff;
color: #3e15adda;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
padding: 0;
line-height: 1.6;
}

header{
    background-color: #97136089;
    color: #11097a;
    text-align: center;
    padding: 30px 20px;
    border-bottom: 3px solid #520936;
}

header .logo {
max-width: 100px;
margin-bottom: 10px;
display:block;
margin-left: auto;
margin-right: auto;
}

header h1{
    margin: 0;
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header p{
    color: #6e0e1a;
    font-style: italic;
    font-size: 1.1rem;
    margin-top: 5px;
}


main{
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

main section {
    background-color: #b68b9f;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 8px;
    border-left: 5px solid #ab4b91;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

main section h2{
    color: #570930;
    margin-top: 0;
    border-bottom: 1px solid #d95c5c ;
    padding-bottom: 10px;
}
main section p { color: #212529;
text-align: justify;}

main section img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 2px solid #afa1a1;
    border-radius: 4px;
} 
main section img.razas-gatos{
    max-width: 100%;
    width: auto;
    max-height: 300px;
    display: block;
    margin: 20px auto;
    border: 2px solid #afa1a1;
    border-radius: 4px;
}

#carouselExample{
    max-width: 60%;
    margin: 0 auto;
}



footer ul{
    list-style-type: none;
    color: #080445;
    padding-left: 20px;
}

footer ul li {
    margin-top: 10px;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #F7F4FA;
    color: #ffffff;
    font-size: 0.9rem;
    border-top: 1px solid #000;
    margin-top: 50px;
}
